
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.fa-solid{
    color:white;
    font:size 90px;
}

header{
    background-color: #003366;
    padding-top: 70px;
    padding-bottom: 40px;
    margin: 0 auto;
    overflow: hidden;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003366;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  li.nav {
  float: left;
  }
  
  li.nav a {
  display: block;
  color: #FDFD96;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  }

a:link {
    color: #FDFD96;
}

a:visited {
    color: #FFFFBF;
}

a:hover {
    color: #cce6e6
}

a:active {color: red;}

h1 {
    color: #FFCC00;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 4rem;
    text-align: center;

} 

h2 { font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFCC00;
}

p {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2C4667;
}

.yellow-text{
    color: #FFCC00;
}

.important {
    font-weight:bold;
}

img {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 5px
}

img:hover {
    box-shadow: 0 0 2px 1px #009fd4;

}

.important:hover {
    background-color:#cce6e6;
    transition: all 0.3s ease;
}

a[href="url"] {
    background-color: #b3d9d9;
}

footer {
    background-color: #000000;
    font-family: 'Poppins' ;
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
    color: #ffffff
}
